# Lists  and Loops

## psuedocode for list

declare a list of numbers,
enter the numbers,
print the numbers

In [1]:
nums = [5, 10, 15, 2, 10]
print(nums)

[5, 10, 15, 2, 10]

#### accessing element within a List

# index

In [2]:
print(nums[1] )
num = nums[2]
print(num)

10
15

## declaring a List of mixed data types

### psuedocode
####  declare a list of data,
enter the data,
print the data

In [4]:
num = 4.3
data = [num, "word", True]
print(data)

[4.3, 'word', True]

###  Lists Within Lists

#### psuedocode
declare a list of  data,
enter the data,
print the data

In [5]:
data = [5, "book", [ 34, "hello" ], True]    # lists can hold any type
print(data)
print( data[2] )

[5, 'book', [34, 'hello'], True]
[34, 'hello']

### changing values in a list

#### working with lists we need to be able to alter values of the items within the list

######  psuedocode
###### declare list of data
###### enter the data
###### print the data

In [5]:
data = [5, 10, 15, 20]
print(data)
data[0] = 100    
print(data)

[5, 10, 15, 20]
[100, 10, 15, 20]

#### variable storage

In [7]:
a = [5, 10]
b = a
print( "a: {}\t b: {}".format(a, b) )
print( "location a[0]: {}\t location b[0]: {}". format( id(a[0]), id(b[0])))
a[0] = 20
print( "a: {}\t b: {}".format(a, b))

a: [5, 10]	 b: [5, 10]
location a[0]: 3026315313520	 location b[0]: 3026315313520
a: [20, 10]	 b: [20, 10]

#### exercise

##### First character : For the following lists, print out each item's first letter. (output should be 'J', 'A', 'S', 'K')
 names = ['John','Abraham','Sam','Kelly']

In [12]:
names = ['John', 'Abraham', 'Sam', 'Kelly']
for i in names:
    print(i[0])

J
A
S
K

## For loop

##### writing of for loop
1. every loop begins with a keyword "for".then you define a temporary variable, sometimes known as index or counter.
2. next is the "in" keyword.
3. last we have a colon to end the statement .

##### for loop synthax 
example

In [19]:
for num in range (5) :
    print(num)

0
1
2
3
4

## Range

range allow us to count from one number to another,
to increament or decrement.
when used with for loop it gives the ability to loop a certain number of times

example

In [20]:
# providing the start, stop, and step for the range function.
for num in range(2, 10, 2):
    print( "value: {}".format(num))

value: 2
value: 4
value: 6
value: 8

#### Looping by Element

during working with data types that are iterable, meaning they have a collection of elements that can be looped over, we can write the for loop differently

In [21]:
name = "John Smith"
for letter in name:
    print( "value: {}".format(letter))

value: J
value: o
value: h
value: n
value:
value: S
value: m
value: i
value: t
value: h

#### continue statement

once the continue statement is hit the current iteration stops and goes back to the top of the loop

In [25]:
for num in range(5):
    if num == 3:
        continue
    print(num)

0
1
2
4

#### Break Statement

it allow to break loops at any point in time

In [26]:
for num in range(5):
    if num ==3:
        break
    print(num)

0
1
2